table {
    width : 950px;
    text-align: center;
    border-collapse : collapse;
    font-size: 2em;
    border-top: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
}
tr {
    height : 100px;
}
#lefttable {
    width : 200px;
}

#name {
    width : 70%;
    margin: 0 5px;
}

.line {
    border-top: solid 2px;
}

input {
    height: 50px;
    font-size: 25px;
}

.blue {
    background-color: #ffe1f8;
}
.bluenav {
    background-color: #ffc5f1;
}

.yellow {
    background-color: antiquewhite;
}

.green {
    background-color: aliceblue;
}
.greennav {
    background-color: rgb(180, 220, 255);
}