table {
    width : 800px;
    text-align: center;
    border-collapse : collapse;
    font-size: 2em;
}
tr {
    height : 100px;
}
#lefttable {
    width : 200px;
}

#name {
    width : 70%;
    margin: 0 5px;
}

.line {
    border-top: solid 2px;
}